<html>
<body style='background: #f0f0f0'>
<h1 style='font-family: Arial, sans-serif; text-align: center; padding: 20px; color: forestgreen;'>Thank you for your feedback!</h1>
<p style='text-align: center;'>We successfully received your feedback, so you can close this window now. Thank you!</p>
</body>
</html>